.footer
	background-color acsentColor
	padding 20px
	
	&__wrap
		display flex
		justify-content space-between
		align-items center
		flex-wrap wrap

.scroll-to-top
	position fixed
	bottom 10px
	right 10px
	background-color rgba(#fff, .5)
	border-radius 50%
	width 50px
	height 50px
	text-align center
	background-image url(../img/arrow.png)
	background-position center
	background-repeat no-repeat
	background-size 15px
	transform rotate(90deg)