.heros
	background-color greenColor
	
	.descr
		font-weight 700
	
	h1
		
		span
			font-size 18px
	
	&__group
		display flex
		justify-content center
		flex-wrap wrap
		margin 0 0 15px 0
		padding 0 0 20px 0
		border-radius 7px
		
		&-title
			width 100%
			margin 5px 0 20px 0
			font-weight 700
			padding 5px 15px
			text-align center
		
		li
			width 19.2%
			margin 0 0.2% 2px 0
			position relative
			cursor pointer
			transition all .1s
			
			&:active
				transform scale(.97, .97)
			
			&:after
				content ''
				display block
				position absolute
				left 0
				top 0
				bottom 0
				right 0
				background-color rgba(acsentColor, .3)
				background-image url(../img/check.png)
				background-repeat no-repeat
				background-size 40%
				background-position center
				opacity 0
				transition all .2s

			img
				width 100%
				height auto
		
		.activ
			
			&:after
				opacity 1

	&__prise
		position absolute
		top 0
		left 0
		right 65%
		text-align center
		padding 5px
		background-color rgba(acsentColor, 0.65)
	
	&__form
		width 100%
		max-width 400px
		margin 0 auto
		text-align center

	&__format
		display flex
		justify-content space-between
		margin 0 0 15px 0
		
		.activ
			
			&:after
				opacity 1
		
		a:last-child:before
			content ''
			display block
			position absolute
			width 34px
			height 34px
			top -17px
			right -17px
			background-image url(../img/logo-img2.png)
			background-position center
			background-size cover
			
		a
			padding-left 13%
			width 49%
			padding-right 30px
			position relative
			cursor pointer
		
			&:after
				content ''
				display block
				position absolute
				left 0
				top 0
				bottom 0
				width 30%
				background-image url(../img/check.png)
				background-repeat no-repeat
				background-size 40%
				background-position center
				opacity 0
				transition all .2s
			
			&:hover:after
				opacity 1
			
			&:last-child
				margin 0
	
	input, textarea
		background-color transparent
		width 100%
		outline none
		overflow hidden
	
	&__sec, &__phone, &__message, &__email
		color textColor
		display block
		margin 0 auto
		width 100%
		margin 0 0 15px 0
		
		&::-webkit-input-placeholder
			color textColor
		&::-moz-placeholder
			color textColor
		&:-ms-input-placeholder
			color textColor
		&:-moz-placeholder
			color textColor
	
	&__check
		text-align center
		margin 0 0 15px 0
		font-weight 400
		
		span
			font-size 26px !important
			font-weight 700
			display inline-block
			vertical-align middle
			margin 0 5px
	
	&__phone, &__message
		margin 0 0 15px 0
	
	&__go
		background-color transparent
		border 2px solid textColor
		padding 14px 25px
		border-radius 26px
		font-size 18px
		transition all .2s
		
		&:hover
			cursor pointer
			background-color rgba(mainBgColor, .5)
		
		&-descr
			margin 10px 0 0 0
			display none