.main
	width 100vw
	height 100vh
	min-height 600px
	background-image url(../img/main-bg.jpg)
	background-size cover
	background-position center
	display flex
	justify-content center
	align-items center
	flex-direction column
	padding 100px 15px 0 15px
	color #fff
	position relative
	overflow hidden
	
	&__arrow
		position absolute
		left 50%
		margin-left -75px
		bottom 0px
		width 150px
		height 50px
		
		img
			width 100%
			height auto

	.button
		border 1px solid textColor
		padding 10px 25px
		border-radius 25px
	
	.descr, span
		margin 0 0 40px 0
	
	span
		font-size 30px

.btn-descr
	font-size 11px