body
	background-color mainBgColor
	color textColor
	overflow-x hidden

.acsent
	color acsentColor

a
	color textColor

.button
	transition all .3s

.button:hover
	background-color rgba(mainBgColor, .6)

.title, .descr
	font-weight 400
	font-size 50px
	width 100%
	max-width 700px
	margin 0 auto
	text-align center
	
.title
	margin 0 auto 15px auto

.descr
	font-size 20px
	margin 0 auto 15px auto

.nav-btn
	display none
	
	img
		width 44px
		height auto
		margin 0 10px 0 0

.close-btn
	position absolute
	top 0
	right 0
	left 0
	text-align right
	padding 15px 15px 0 0
	display none
	z-index 99
	
	img
		width 50px
		height auto

.acsent
	color acsentColor

section
	padding 45px 0