@media all and (max-width: 1125px)
	
	.close-btn
		display block

	.nav
		position fixed
		z-index 999
		left 0
		top 0
		right 0
		bottom 0
		transform translateX(100%)
		opacity 0
		flex-direction column
		justify-content center
		
		li
			margin 5px 0
			background-color rgba(mainBgColor, .3)
			
			&:last-child
				margin 5px 0
			
			a
				display block
				padding 15px 5px
			
			&:after
				display none
			
			a
				font-size 30px
		
		&-btn
			display block

@media all and (min-width: 950px)

	.heros__group
		
		li:hover:after
			opacity 1

@media all and (max-width: 950px)
	
	.present
		
		&__gif:last-child
			display none

@media all and (max-width: 670px)
	
	.header
		
		&__contact
			text-align center
	
	.tel
		display block
		margin 0 0 10px 0
	
	.title
		font-size 45px
	
	.present
		
		&__gifs
			flex-wrap wrap
			justify-content space-between
		
		&__gif
			width 49.8%
			margin 0
			margin 0 0 2px 0
			
	.heros__group li
		width 24.4%

@media all and (max-width: 600px) 

	.title
		font-size 35px

	.heros__group li
		width 33%

@media all and (max-width: 540px)
	
	.header
		
		&__contact
			display none
	
	.nav
		
		.header__contact
			display block
	
	.nav-btn
		text-align right

@media all and (max-width: 430px)
	
	.present
		
		&__gif
			width 100%
	
	.heros
		
		&__form
			
			.button
				font-size 14px
	
	.heros__group li
		width 49%

@media all and (max-width: 350px)
	
	.footer__contacts
		
		span
			display none
	
	.title
		font-size 28px

	.descr
		font-size 16px

// MOBILE FIRST --------------------------------------------------------------------

// // Small --------------------------------------------------------------------

// @media (min-width: 576px)
	
// 	body
// 		background-color #111

// // Medium --------------------------------------------------------------------

// @media (min-width: 768px)

// 	body
// 		background-color #222

// // Large --------------------------------------------------------------------

// @media (min-width: 992px)

// 	body
// 		background-color #333

// // Extra large --------------------------------------------------------------------

// @media (min-width: 1200px)

// 	body
// 		background-color #444

// DESKTOP FIRST --------------------------------------------------------------------

// // Extra large --------------------------------------------------------------------

// @media (max-width: 1200px)

// 	body
// 		background-color #444

// // Large --------------------------------------------------------------------

// @media (max-width: 992px)

// 	body
// 		background-color #333

// // Medium --------------------------------------------------------------------

// @media (max-width: 768px)

// 	body
// 		background-color #222

// // Small --------------------------------------------------------------------

// @media (max-width: 576px)
	
// 	body
// 		background-color #111